# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
*.env
*.env.backup
.env.backup

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Uploads
uploads/
temp/

# Google Cloud credentials
*.json
!package.json
!package-lock.json
!tsconfig.json

# SQLite
*.db
*.sqlite

# Redis dump
dump.rdb
nul
